<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regenerar Contrasenya</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <link rel="shortcut icon" href="../static/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="../static/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">

    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/jquery.cookie.js"></script>
    <script src="../static/js/parseUri.js"></script>
    <script src="../static/js/md5.js"></script>
    <script src="../static/js/lib.js"></script>
    <script src="../static/js/focusOnChange.js"></script>
    <script src="../static/js/alerts.js"></script>
</head>

<body>
    <img class="logo" src="../static/img/logo.png" alt="logo" style="display: block; margin-left: auto; margin-right: auto;margin-top: 5%;">
    <div class="container-contact100" style="display:flex; margin-top: -10%;">
        <div id="divRegenPass" class="wrap-contact100 borderLogin">
            <form id="changePassword">
                <button class="cerrar"><i class="fas fa-times cross" onclick="returnToLogin();"></i></button>
                <span class="contact100-form-title">Regenerar Contrasenya</span>
                <div class="wrap-input100">
                    <span class="label-input100">Contrasenya</span>
                    <input class="input100" type="password" name="pass" id="pass" placeholder="🔒 Contrasenya ...">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100">
                    <span class="label-input100">Confirmar Contrasenya</span>
                    <input class="input100" type="password" name="repass" id="repass" placeholder="🔒 Confirmar Contrasenya ...">
                    <span class="focus-input100"></span>
                </div>
                <div class="container-contact100-form-btn">
                    <div class="wrap-contact100-form-btn">
                        <div class="contact100-form-bgbtn"></div>
                        <button type="submit" class="contact100-form-btn">
                            <span>Canviar Contrasenya</span>
                        </button>
                    </div>
                </div>
            </form>
            <span id="messageSended"></span>
        </div>
    </div>

    <footer class="footer text-center fixed-bottom">
        <div id="footer" class="text-center p-3">
            Creat per nlaira. © 2022
        </div>
    </footer>
</body>

</html>